In [1]:
import pandas as pd

In [2]:
Boston = pd.read_csv('Boston.csv')

In [3]:
Boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,Black,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [4]:
from sklearn import linear_model

In [5]:
import math
Boston.MEDV.median()

21.2

In [6]:
Boston.MEDV.fillna(0,inplace=True)

In [7]:
Boston.CRIM.median()

0.253715

In [8]:
Boston.CRIM.fillna(0,inplace=True)

In [9]:
y = Boston[['MEDV']]    # Dependent variable

In [10]:
x = Boston[['CRIM']]    # Independent Variable

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [14]:
model = LinearRegression()

In [15]:
model.fit(x_train,y_train)

LinearRegression()

In [16]:
y_pred = model.predict(x_test)   # Predict values

In [17]:
y_test.head()  # Actual Values

     MEDV
355  20.6
179  37.2
81   23.9
495  23.1
428  11.0

In [18]:
y_pred[0:5]

array([[24.29699808],
       [24.32034072],
       [24.32664643],
       [24.2623597 ],
       [20.82334231]])

In [19]:
model.score(x_test,y_test)

0.04288817299523662

In [20]:
from sklearn.metrics import mean_squared_error

In [21]:
mean_squared_error(y_test,y_pred)

73.28965460524012

# Create another model

In [22]:
Boston.LSTAT.fillna(0,inplace=True)

In [23]:
x2 = Boston[['LSTAT']]
x2.head()

   LSTAT
0   4.98
1   9.14
2   4.03
3   2.94
4   0.00

In [24]:
x2_train,x2_test,y_train,y_test= train_test_split(x2,y,test_size=0.3)

In [25]:
model2 = LinearRegression()

In [26]:
model2.fit(x2_train,y_train)

LinearRegression()

In [27]:
y_pred2 = model2.predict(x2_test)

In [28]:
y_test.head()

     MEDV
505  11.9
31   14.5
423  13.4
204  50.0
246  24.3

In [29]:
y_pred2[0:5]

array([[26.56887699],
       [22.08143096],
       [13.1674151 ],
       [30.91717741],
       [25.45571208]])

In [30]:
model2.score(x2_test,y_test)

0.4984966347517241