In [3]:
import pandas as pd

In [4]:
Boston = pd.read_csv('Boston.csv')

In [5]:
Boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,Black,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [6]:
from sklearn import linear_model

In [7]:
import math
Boston.MEDV.median()

21.2

In [8]:
Boston.MEDV.fillna(Boston.MEDV.median(),inplace=True)

In [9]:
Boston.CRIM.median()

0.253715

In [10]:
Boston.CRIM.fillna(Boston.CRIM.median(),inplace=True)

In [11]:
y = Boston[['MEDV']]    # Dependent variable

In [12]:
x = Boston[['CRIM']]    # Independent Variable

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3) # 30% value are in test and 70% value are in train.

In [16]:
model = LinearRegression()

In [17]:
model.fit(x_train,y_train)

LinearRegression()

In [18]:
y_pred = model.predict(x_test)   # Predict values
y_pred

array([[23.80651869],
       [23.02824012],
       [23.74299112],
       [23.7831793 ],
       [23.7819481 ],
       [23.78542313],
       [23.67158561],
       [23.80607707],
       [23.69595101],
       [22.73988801],
       [22.11401584],
       [23.82493772],
       [23.75485709],
       [23.71814618],
       [23.72927834],
       [23.66662956],
       [23.81743896],
       [23.79364456],
       [23.78377706],
       [17.01151291],
       [18.56198539],
       [23.76501009],
       [23.56811074],
       [23.77632737],
       [20.86263729],
       [23.55039654],
       [23.73747746],
       [19.4491722 ],
       [23.67546213],
       [21.23457314],
       [23.73582247],
       [23.78462463],
       [23.80388677],
       [12.65852917],
       [23.8063358 ],
       [23.59177578],
       [17.62470722],
       [15.57947712],
       [19.66971874],
       [23.76402869],
       [23.81378549],
       [23.71814618],
       [23.7744761 ],
       [23.82462992],
       [23.71458862],
       [23.73443959],
       [21.2118672 ],
       [19.58739742],
       [23.79195388],
       [23.81257659],
       [23.66674554],
       [19.07075021],
       [19.26649418],
       [23.61141263],
       [23.82643658],
       [23.75350098],
       [23.78032879],
       [23.73224037],
       [23.81500331],
       [23.80672389],
       [23.80550161],
       [23.67468593],
       [17.4807096 ],
       [23.01330059],
       [23.73692877],
       [23.81213942],
       [23.81688581],
       [23.8093246 ],
       [23.71814618],
       [20.14339417],
       [23.55711464],
       [23.22699966],
       [23.77421737],
       [23.81548509],
       [23.79480439],
       [23.77262929],
       [23.73234743],
       [23.71814618],
       [21.79900098],
       [23.71814618],
       [23.82850643],
       [23.59038844],
       [23.80055002],
       [23.31755578],
       [23.46318608],
       [23.21215827],
       [23.69066039],
       [23.82156975],
       [23.72465685],
       [20.37313907],
       [23.74730034],
       [23.10480688],
       [23.79071821],
       [23.71814618],
       [23.79087434],
       [23.80248159],
       [23.76841375],
       [23.8038377 ],
       [23.79610251],
       [ 1.02019385],
       [23.81772446],
       [20.15194124],
       [23.70661254],
       [23.81586426],
       [23.79619619],
       [23.71115819],
       [23.77659503],
       [12.9495132 ],
       [23.55145377],
       [22.23937585],
       [23.81554754],
       [21.89137715],
       [15.4399404 ],
       [23.63151787],
       [23.76023693],
       [23.82446487],
       [23.81179147],
       [23.80399383],
       [23.78213545],
       [23.82728415],
       [23.79586162],
       [23.80875806],
       [19.73309464],
       [-8.97144752],
       [23.71814618],
       [23.54673861],
       [20.47405339],
       [23.67916913],
       [23.81113126],
       [23.77363745],
       [23.82516523],
       [23.59021447],
       [23.80193736],
       [23.7904461 ],
       [23.28153407],
       [20.19492194],
       [23.80000133],
       [23.80059909],
       [17.12954813],
       [20.69862365],
       [20.33428916],
       [23.58842119],
       [-6.4674146 ],
       [ 7.03075611],
       [18.87612146],
       [23.76873939],
       [23.79005354],
       [20.40891989],
       [23.80180799],
       [23.76397516],
       [23.72380482],
       [22.57407663]])

In [44]:
y.head(12)

    MEDV
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2
5   28.7
6   22.9
7   27.1
8   16.5
9   18.9
10  15.0
11  18.9

In [19]:
y_test.head()  # Actual Values

     MEDV
299  29.0
167  23.8
215  25.0
110  21.7
218  21.5

In [49]:
y[0:5]

   MEDV
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [47]:
y_pred[0:5]

array([[23.80651869],
       [23.02824012],
       [23.74299112],
       [23.7831793 ],
       [23.7819481 ]])

In [21]:
model.score(x_test,y_test)

0.15330508200786008

In [22]:
from sklearn.metrics import mean_squared_error

In [23]:
mean_squared_error(y_test,y_pred)

72.9771623337106

# Create another model

In [24]:
Boston.LSTAT.median()

11.43

In [25]:
Boston.LSTAT.fillna(Boston.LSTAT.median(),inplace=True)

In [26]:
x2 = Boston[['LSTAT']]
x2.head()

   LSTAT
0   4.98
1   9.14
2   4.03
3   2.94
4  11.43

In [27]:
x2_train,x2_test,y_train,y_test= train_test_split(x2,y,test_size=0.3)

In [28]:
model2 = LinearRegression()

In [29]:
model2.fit(x2_train,y_train)

LinearRegression()

In [30]:
y_pred2 = model2.predict(x2_test)

In [31]:
y_test.head()

     MEDV
81   23.9
332  19.4
445  11.8
352  18.6
213  28.1

In [32]:
y_pred2[0:5]

array([[27.42207147],
       [26.85994775],
       [11.97749203],
       [26.89680833],
       [25.43160061]])

In [33]:
model2.coef_   # (M) Coeff

array([[-0.92151429]])

In [34]:
model2.intercept_    #(B) Intercept

array([34.07540461])

In [35]:
# y = mx1 + mx2 + b

-0.90848485*4.98 + -0.90848485*9.14 + 34.09875518

21.270949097999996

In [36]:
model2.score(x2_test,y_test)

0.5053005621659893

In [37]:
from sklearn.metrics import mean_squared_error

In [38]:
mean_squared_error(y_test,y_pred2)

38.27328854569484

Conclusion :- model2 is better than model because the mean_squared_error value of model2 is low as compare to the model first.